.body{
    background-color:black;
    
}
.centrado{
    text-align:center;
    
}
.img{
    display:block;
    margin:auto;
  
}


.nombres{
    color:blue;
    text-decoration:none;
}
.nombres:hover{
    color:black;
    
}
.botones{
    text-align: center;
    margin: 10px;
    width:70px;
    height:25px;
   
}


